.ct_send_msg_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px !important;
    height: 47px;
    padding: 0px 16px;
}

.ct_comment_area_main input {
    padding-right: 84px;
}

.ct_post_img img {
    object-fit: cover;
}

body {
    background-color: #fbfbfb;
}

.ct_cursor_pointer {
    cursor: pointer;
}

.ct_pagination_select_21 {
    border: 1px solid #d8d8d8;
    padding: 4px;
    border-radius: 6px;
    width: 60px;
}


.pagination li.previous,
.pagination li.next {
    background-color: #ffff;
    width: auto;
    padding: 3px 10px;
    border-radius: 5px;
}

.pagination li.previous a,
.pagination li.next a {
    color: #000 !important;
}

.pagination li {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 2px;
    background-color: #e6e6e6;
}

.pagination li.active {
    background: var(--yellow);
}

.ct_textclr_7E7E7E {
    color: #7e7e7e;
}

.pagination li a {
    color: #000 !important;
}

.pagination li.active a {
    color: #fff !important;
}

.ct_grid_7_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    align-items: center;
}

.ct_day {
    display: grid;
    justify-content: center;
}

.ct_day p {
    font-size: 14px;
}

.ct_day span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    width: 45px;
    height: 45px;

    border-radius: 5px;
    font-weight: 600;
}

.ct_day.active span {
    background-color: var(--yellow);
}

.ct_increase_decrease_btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct_increase_decrease_btns input {
    height: 30px;
    border: 1px solid #e6e6e6;
    outline: none;
    padding-inline: 10px;
    text-align: center;
    width: 100%;
    max-width: 100px;
    border-radius: 4px;
    padding-right: 38px;
}

.ct_increase_decrease_btns button {
    background-color: #e6e6e6;
    border: 0px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transition: 0.4s ease all;
}

.ct_fs_12 {
    font-size: 12px;
}

.ct_increase_decrease_btns select.ct_show_eye {
    border: 0px;
    right: 1px;
    font-size: 14px;
    outline: none;
}

.ct_cursor_pointer {
    cursor: pointer;
}

.ct_del_q {
    font-size: 22px;
    color: #11111166;
}

.ct_pe_40 {
    padding-right: 40px;
}

.ct_single_uploaded_img {
    /* border: 2px dashed #d1d5db; */
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.ct_single_uploaded_img img {
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.ct_single_uploaded_img i {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ct_poll_options ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.ct_poll_options ul p {
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    border: 1px solid #e6e6e6;
}

.ct_poll_options ul p.active {
    background-color: #ffcb004d;
}

.ct_poll_options ul p:focus {
    border-color: var(--yellow);
}

.ct_custom_radio .form-check-input:checked {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.ct_custom_radio .form-check-input:focus {
    box-shadow: unset;
}

.ct_chat_main_bg_1 {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09)
}

@media screen and (max-width:767px) {
    .ct_poll_options ul {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width:575px) {
    .ct_day span {
        width: 38px;
        height: 38px;
    }
}

.ct_empty_chat_box_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.ct_empty_chat_box_content svg {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}