.ct_send_msg_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 10px !important;
    height: 47px;
    padding: 0px 16px;
}

.ct_comment_area_main input {
    padding-right: 84px;
}

.ct_post_img img {
    object-fit: contain;
}

.ct_bakc_bg {
    display: block;
    top: 0px;
    right: 0px;
    color: #000;
    position: relative;
}

.ct_fw_600 {
    font-weight: 600;
}

body {
    background-color: #fbfbfb;
}

.ct_cursor_pointer {
    cursor: pointer;
}

.ct_pagination_select_21 {
    border: 1px solid #d8d8d8;
    padding: 4px;
    border-radius: 6px;
    width: 60px;
}


.pagination li.previous,
.pagination li.next {
    background-color: #ffff;
    width: auto;
    padding: 3px 10px;
    border-radius: 5px;
}

.pagination li.previous a,
.pagination li.next a {
    color: #000 !important;
}

.pagination li {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 2px;
    background-color: #e6e6e6;
}

.pagination li.active {
    background: var(--yellow);
}

.ct_textclr_7E7E7E {
    color: #7e7e7e;
}

.pagination li a {
    color: #000 !important;
}

.pagination li.active a {
    color: #fff !important;
}

.ct_grid_7_days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    align-items: center;
}

.ct_day {
    display: grid;
    justify-content: center;
}

.ct_day p {
    font-size: 14px;
}

.ct_day span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    width: 45px;
    height: 45px;

    border-radius: 5px;
    font-weight: 600;
}

.ct_day.active span {
    background-color: var(--yellow);
}

.ct_increase_decrease_btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ct_increase_decrease_btns input {
    height: 30px;
    border: 1px solid #e6e6e6;
    outline: none;
    padding-inline: 10px;
    text-align: center;
    width: 100%;
    max-width: 100px;
    border-radius: 4px;
    padding-right: 38px;
}

.ct_increase_decrease_btns button {
    background-color: #e6e6e6;
    border: 0px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    transition: 0.4s ease all;
}

.ct_fs_12 {
    font-size: 12px;
}

.ct_increase_decrease_btns select.ct_show_eye {
    border: 0px;
    right: 1px;
    font-size: 14px;
    outline: none;
}

.ct_cursor_pointer {
    cursor: pointer;
}

.ct_del_q {
    font-size: 22px;
    color: #11111166;
}

.ct_pe_40 {
    padding-right: 40px;
}

.ct_single_uploaded_img {
    /* border: 2px dashed #d1d5db; */
    position: relative;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}

.ct_single_uploaded_img img {
    width: 100%;
    object-fit: contain;
    height: 200px;
}

.ct_single_uploaded_img i {
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ct_poll_options ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.ct_poll_options ul p {
    background-color: #e6e6e65e;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    border: 1px solid #e6e6e6;
}

.ct_poll_options ul p.active {
    background-color: #ffcb004d;
}

.ct_poll_options ul p:focus {
    border-color: var(--yellow);
}

.ct_custom_radio .form-check-input:checked {
    background-color: var(--yellow);
    border-color: var(--yellow);
}

.ct_custom_radio .form-check-input:focus {
    box-shadow: unset;
}

.ct_chat_main_bg_1 {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09)
}

.ct_share_icon {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    border-radius: 100px;
}

.ct_text_underline {
    text-decoration: underline;
}

.ct_room_btn_outline {
    border-radius: 100px;
    border: 1px solid #e6e6e6;
    background-color: transparent;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    outline: none;
}

.ct_room_btn_outline.active {
    background-color: var(--yellow);
}

.ct_room_ragister_modal {
    max-width: 800px;
    width: 100%;
    margin-inline: auto;
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width:767px) {
    .ct_poll_options ul {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (max-width:575px) {
    .ct_day span {
        width: 38px;
        height: 38px;
    }
}

.ct_empty_chat_box_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.ct_empty_chat_box_content svg {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.et_empty_logo {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    margin-inline: auto;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.10);
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
}

.et_empty_logo img {
    width: 30px;
}

.et_empty_content_main {
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);

    padding: 30px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    max-width: 700px;
    margin-inline: auto;
    width: 100%;
    display: block;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 20px;
}

.swiper-pagination-bullet-active {
    background-color: var(--yellow) !important;
}

.ct_price_plan_info_grid li {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 10px;
}

.ct_price_plan_info_grid li+li {
    margin-top: 10px;
    border-top: 1px solid #ecbc0052;
    padding-top: 10px;
}

.ct_breadcrumb_ul ul {
    display: flex;
    align-items: center;
    gap: 10px;
}



.ct_blog_img {
    overflow: hidden;
    transition: 0.4s ease all;
    position: relative;
    /* z-index: 1; */
}

.ct_blog_img:before {
    content: "";
    position: absolute;
    inset: 0px;
    background-color: var(--orange);
    opacity: 0.7;
    scale: 0;
    transition: 0.4s ease all;


}




.ct_blog_card:hover .ct_blog_img:before {
    scale: 1;
}

.ct_blog_card:hover figcaption {
    transform: translateY(-15px);
}



.ct_blog_img img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    transition: 0.4s ease all;

}

.ct_blog_section {
    background-color: #f5f5f5;
}

.ct_blog_card figcaption {
    background-color: #fff;
    width: calc(100% - 30px);
    margin-top: -50px;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px #0000000D;
    transition: 0.4s ease all;
    margin-inline: auto;
    position: relative;
}

.ct_list_style_disc {
    list-style: disc;
}

.ct_blog_card ul {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.ct_blog_card {
    margin-bottom: 0px;
}

.ct_blog_card ul:after {
    content: "";
    position: absolute;
    bottom: 0px;
    background-color: var(--orange);
    width: 80px;
    height: 4px;
    border-radius: 100px;
}

.ct_blog_card ul li {
    text-transform: uppercase;
    color: #051D2D80;
    font-weight: 600;
    font-size: 14px;
}

.ct_grey_dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #051D2D80;
    border-radius: 50%;
}

.ct_orange_link {
    color: var(--yellow);
    font-weight: 600;
}

.ct_fit_content {
    width: fit-content !important;
}

.ct_report_list_1234 li {
    background-color: #f5f5f5;
    margin-bottom: 8px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

/* .ct_video_call_grid {
    display: flex;
    align-items: center;
    gap: 23px;
} */
:root {
    --gap: 20px;
}

.ct_signle_video_call,
.ct_multiple_video_call {
    height: 100%;
    position: relative;
    background-color: #e6e6e6;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.ct_signle_video_call img,
.ct_signle_video_call video {
    height: 250px;
    width: 100%;
    object-fit: contain;
    background-color: #e6e6e6;
    border-radius: 10px;
}

.ct_multiple_video_call h4 {
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 13px;
    z-index: 999;
}

#div#agora-video-player-track-video-8085108580-client-6ea27_2e4e7 {
    background-color: transparent;
}

.ct_multiple_video_call {
    position: relative;
    flex: 0 0 calc((100% - (2 * var(--gap))) / 3);
    max-width: calc((100% - (2 * var(--gap))) / 3);
    box-sizing: border-box;
    background: #e6e6e6;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    /* height: 200px; */
}

.ct_overlay_video_btn_455 {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.ct_signle_video_call h4 {
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    top: 15px;
    left: 15px;
}

.ct_video_call_grid_full {
    display: block !important;
}

.ct_grid_2_234 {
    grid-template-columns: repeat(2, 1fr) !important;
}

.ct_grid_1_234 {
    grid-template-columns: repeat(1, 1fr) !important;
}

.ct_multiple_video_call img,
.ct_multiple_video_call video {
    width: 100%;
    height: 174px;
    object-fit: cover !important;
    border-radius: 10px;
    background-color: #e6e6e6;
    position: unset !important;
    max-width: calc(100% - 15px);
}

.ct_multiple_video_call.single {
    flex: 100%;
    max-width: 100%
}

.ct_multiple_video_call.double {

    flex: 0 0 calc((100% - var(--gap)) / 2);
    max-width: calc((100% - var(--gap)) / 2);

}

.ct_grid_4_234 {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; */
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    align-items: stretch;
    justify-content: center;
    /* default */

}

#remote-player-9755764211 {
    border-radius: 10px;
}



.ct_back_btn34 {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.4s ease all;
    cursor: pointer;
    background-color: #e6e6e6;
    padding: 4px 10px;
    border-radius: 6px;
}

.ct_disable_call {
    background-color: #d8d8d8 !important;
    cursor: no-drop !important;
}

.ct_back_btn34:hover {
    color: var(--yellow);
}

.ct_multiple_video_call>div>div {
    background-color: transparent !important;
}

@media screen and (min-width:1200px) {
    .ct_side_bar_scrool_left {
        height: auto;
        max-height: calc(100vh - 136px);
        overflow-y: auto;
    }

    .ct_side_bar_scrool_left::-webkit-scrollbar {
        width: 0px;
    }
}

.ct_congratulation_modal_fade .ct_modal-dialog:before {
    content: "";
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0px;
}

.ct_pricing_card_light_green {
    background-color: #d3a80021;
    /* border-color: #e6e6e6; */
    padding-top: 0px;
    padding-inline: 0px;
    /* box-shadow: unset; */

}

.ct_price_head_bg {
    background-color: #5dd34442;
    padding: 30px;
    border-radius: 10px 10px 0px 0px;

}


.ct_pricing_card_light_green ul li i {
    color: #fff;

    background: #5dd344 !important;

}

.ct_fs_12 {
    font-size: 12px;
}

.ct_poll_options li.progress {
    height: auto;
}

/* .ct_poll_options li.progress .ct_fill_active_bar {
    flex-direction: row;
} */
.ct_fill_active_bar {
    color: #000;
    flex-direction: row;
}

.ct_pricing_card_light_green span.ct_pricing_badge {
    background-color: #98dc8a;
    width: fit-content;
}

a {
    cursor: pointer;
}

.ct_pricing_card_light_green:hover {
    border-color: var(--yellow) !important;
}

.ct_pricing_card_light_green .ct_pricing_card li {
    font-size: 14px;
}

.ribbon-content {
    position: absolute;
    top: -6px;
    right: -6px;
    width: 89px;
    height: 91px;
    overflow: hidden;
}

.ribbon {
    display: inline-block;
    position: absolute;
    padding: 7px 0;
    left: -23px;
    top: 22px;
    width: 160px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    background: linear-gradient(to right, #5dd344 0%, #5dd344 100%);
    color: #000;
    letter-spacing: 0.05em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-weight: 600;
}



.ribbon::before,
.ribbon::after {
    position: absolute;
    content: "";
    border-top: 4px solid #5dd344;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    bottom: -4px;
}

.ribbon::before {
    left: 14px;
}

.ribbon::after {
    right: 18px;
}

.ct_full_poll_page_bg {
    padding: 30px 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    border-radius: 20px
}

/* .ct_blog_dtl_box {
    background: #fff;
    box-shadow: 0 0 25px #00000017;
    padding: 25px;
    border-radius: 5px;
} */

.ct_blog_dtl_img {
    overflow: hidden;
}

.ct_blog_dtl_img img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    transition: .4s ease all;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.ct_blog_dtl_box h6 {
    font-size: 16px;
    margin-top: 25px;
}

.ct_blog_dtl_box h4 {
    font-size: 20px;
    font-weight: 600;
}

.ct_copy_modal {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
    z-index: 899;
    width: 100%;
}

.ct_share_user_list li {
    padding-block: 12px;
    border-bottom: 1px solid #e6e6e6b3;
}

.ct_modal_w_700 .ct_modal-dialog {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
    height: 100vh;
}

.ct_copy_btn {
    border-radius: 10px !important;
    right: 0px;
}

.ct_pe_20 {
    padding-right: 20px;
}

.ct_add_chat_btn {
    border-radius: 6px !important;
    width: 35px;
    height: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: #000 !important;
    border-color: #000 !important;
}

.ct_add_chat_btn i {
    color: #fff;
    font-size: 18px;
}

.ct_yellow_btn {
    background-color: #ffcb00;
    padding: 10px 30px;
    border-radius: 100px;
    color: #000;
    position: relative;
    font-weight: 600;
    -webkit-transition: 0.4s ease all;
    -o-transition: 0.4s ease all;
    transition: 0.4s ease all;
    border: 1px solid #ffcb00;
    outline: none;
}

.py-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.ct_position_close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 18px !important;
    background-color: #f9f9f9ab !important;
    font-weight: 600 !important;
    width: 35px !important;
    height: 35px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

}

.swiper-button-prev,
.swiper-button-next {
    color: #000 !important;
    width: 35px !important;
    height: 35px !important;

    border-radius: 100px !important;

}

.ct_host_badge {
    background-color: var(--yellow);
    padding: 3px 10px;
    border-radius: 100px;
    font-size: 12px;
}

.ct_dropdown_left345 {
    right: 0px !important;
    left: auto !important;
}

.ct_video_action_btn {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #eee;
    transition: 0.4s ease all;
}

.ct_video_action_btn:hover {
    background-color: var(--yellow);
}

.ct_video_call_main_bg_3 {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #eee;
}

.ct_video_call_grid {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;
}

@media screen and (max-width:991px) {
    .ct_pe_20 {
        padding-right: 0px;
    }
}